h1 {
  font-weight: 400;
}

body {
  padding: 5%;
  font-family: Palatino, "Georgia", serif;
}

p {
  margin-top: 27px;
}

.main-text b + p {
  margin-top: 0;
}

ul {
  /* list-style: none; */
  /* padding-left: 0; */
}

li {
  margin-bottom: 15px;
  /* padding-left: 2em; */
}

.main-text {
  line-height: 1.55;
}

.video-player {
  width: 30vw;
}

@media (min-width: 768px) {
  body {
    width: 760px; 
    margin: 0 auto;
  }
}