h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

body {
  padding: 5%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  margin-top: 27px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 15px;
  padding-left: 2em;
}

.main-text {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.video-player {
  width: 30vw;
}

@media (min-width: 768px) {
  body {
    width: 760px; 
    margin: 0 auto;
  }
}