@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Medium'), url(./fonts/OpenSans-Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.globe {
  border: 1px solid red;
}

.globe-controls {
  padding: 10px;
  border: 1px solid blue;
}

.data-panel {
  text-align: start;
  padding: 20px;
  height: 100%;
  border: 1px solid red;
}

header, main {
  /* border: 1px solid blue; */
  color: white;
  background-color: black;
  padding: 0px;
  margin: 0px;
}

.ashish {
  padding-top: 20px;
  font-family: 'Open Sans';
  font-size: xx-large;
}

.data-panel p {
  font-family: 'Open Sans';
  font-size: large;
  padding: 0px;
  margin: 0px;
}

.profile-element {
  text-align: start;
  padding-top: 20px;
  margin: 0px;
  /* border: 1px solid blue; */
}

a { 
  color: white;
  text-decoration: underline;
}

ul {
  padding-left: 10px;
  margin: 0px;
}

li {
  font-family: 'Open Sans';
  font-size: medium;
  padding: 1px;
  margin: 0px;
  /* list-style-type: ''; */
}

h2 {
  font-weight: normal;
  padding: 0px;
  margin: 10px;
}

main {
  font-family: 'Open Sans';
  font-size: medium;
  padding: 0px;
  margin: 0px;
  color: red;
  text-align: center;
}

.constructionImg {
  width: 25%;
}

.bannerContent {
  /* Center content */
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.mainContent {
  font-family: 'Open Sans';
  font-size: x-large;
  padding: 0px;
  margin: 0px;
  background-color: white;
  color: black;
}

.resumeBox {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding-left: 5%;
  padding-bottom: 2%;
}

.resumeTitle {
  font-size: x-large;
  /* padding-left: 10%; */
  text-align: left;
  width: 20%;
  /* text-decoration: underline; */
}

.resumeTitle h3 {
  padding: 0px;
  margin: 0px;
}

.resumeContent {
  font-size: large;
  text-align: left;
  width: 70%;
  padding: 0px;
  margin: 0px;
}

.resumeContent p {
  padding: 2px;
  margin: 0px;
}

a {
  color: black;
  text-decoration: underline;
}