.page-header{
    text-align: center;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid #e2e0e0;
}

.about-card{
    flex: 1;
    text-align: center;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #ececec;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-details p{
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont, Arial, Helvetica, sans-serif;
}

.about-details-header{
    font-family: sans-serif;
    padding-right: 10px;
    padding-top: 10px;
}

.small-tags li{
    cursor: pointer;
    font-size: x-small;
    display: inline;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    color: #620000;
}

.links{
    margin: 40px;
    flex-direction: row;
    justify-content: space-around;
}

.about-button{
    margin: 5px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    border: 1px solid #f1f1f1;
    border-radius: 15px;
}

.abt-btn-img{
    filter: grayscale(100%);
    margin: 2px;
    height: 50%;
    width: 50%;
}

.avatar{
    margin: 3px;
    width: 35%;
    border-radius: 50%;
}

.search-card{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    width: 92%;
    border-radius: 50px;
    color: #000000;
    background: #f6f7f8;
}

.search-button{
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    color: #000000;
    background: #f6f7f8;
}

.hidden {display: none;}

.main-card{
    flex: 3;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ececec;
}

.section-header{
    font-size: 20px;
    text-align: center;
}

.post{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
}

.post h4{
    padding: 10px;
    font-size: 18px;
    font-family: BlinkMacSystemFont, Arial, Helvetica, sans-serif;
}

.post p{
    padding: 10px;
}

ul{
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 12px;
    list-style: none;
}

.tags{
    border-top: 1px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 12px;
    list-style: none;
}

.tags li{
    cursor: pointer;
    font-size: small;
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    border: 1px solid #f1f1f1;
    color: #818181;
}

main {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: BlinkMacSystemFont, Arial, Helvetica, sans-serif;
}

.back-button{
    cursor: pointer;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    color: #000000;
    background: #f6f7f8;
    font-family: BlinkMacSystemFont, Arial, Helvetica, sans-serif;
}

footer{
    border-top: 1px solid #e2e0e0;
    word-spacing: 2px;
    text-align: center;
    font-family: BlinkMacSystemFont, Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
}

@media screen and (max-width: 700px) {
    main {   
      flex-direction: column;
    }
    .about-card{
        margin-bottom: 5px;
    }
    .search-card{
        padding-left: 15px;
        width: 75%;
    }
  }