.page-header{
    text-align: center;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid #e2e0e0;
    background: #ffff;
}

.about-card{
    flex: 1;
    text-align: center;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #ececec;
    background: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-details p{
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont, Arial, Helvetica, sans-serif;
}

.about-details-header{
    font-family: sans-serif;
    padding-right: 10px;
    padding-top: 10px;
}

.small-tags{
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    list-style: none;
    font-size: smaller;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.small-tags li{
    margin-bottom: 3px;
    cursor: pointer;
    font-size: smaller;
    display:inline-block;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(196, 105, 105);
    color: #ffff;
}

.div{
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
}

.links{
    margin: 20px;
    flex-direction: row;
    justify-content: space-around;
}

.about-button{
    margin: 5px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    border: 1px solid #f1f1f1;
    border-radius: 15px;
}

.abt-btn-img{
    filter: grayscale(100%);
    margin: 2px;
    height: 50%;
    width: 50%;
}

.avatar{
    margin: 3px;
    width: 35%;
    border-radius: 50%;
}

.search-card{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    width: 92%;
    border-radius: 50px;
    color: #000000;
    background: #f6f7f8;
}

.search-button{
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    color: #000000;
    background: #f6f7f8;
}

.hidden {display: none;}

.main-card{
    flex: 3;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ececec;
    background: #ffff;
}

.section-header{
    font-size: 20px;
    text-align: center;
}

.post{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
}

.postcol{
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.postpicapp{
    height: 150px;
}

.post h4{
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-family: BlinkMacSystemFont, Arial, Helvetica, sans-serif;
}

.post p{
    padding: 10px;
}

.tags{
    border-top: 1px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 12px;
    list-style: none;
}

.tags li{
    cursor: pointer;
    font-size: small;
    display: inline-flex;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    border: 1px solid #f1f1f1;
    color: #818181;
}

main {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: BlinkMacSystemFont, Arial, Helvetica, sans-serif;
}

.align{
    text-align: center;
}

article{
    padding: 10px;
}

.appimg{
    border-radius: 32px;
}

.borderappimg{
    border: 5 px solid black;
    border-radius: 32px;
}

.more{
    text-indent: 30px;
    line-height: 2;
    word-spacing: 1.5;
}

.readmore{
    font-size: small;
    cursor: pointer;
    text-decoration: underline;
}

.back-button{
    cursor: pointer;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    color: #000000;
    background: #f6f7f8;
    font-family: BlinkMacSystemFont, Arial, Helvetica, sans-serif;
}

footer{
    border-top: 1px solid #e2e0e0;
    word-spacing: 2px;
    text-align: center;
    font-family: BlinkMacSystemFont, Arial, Helvetica, sans-serif;
    background: #ffff;
    padding-bottom: 10px;
}

body{
    background: #fbfcfd;
    margin: 0px;
}

.circleI{
    border-color: #000;
    background-color: #f1f1f1;
    border-radius: 50%;
}

.mySlides {display: none}

.slideshow-container {
    max-width: 2000px;
    position: relative;
    margin:auto;
}

.slide-img{
    vertical-align: middle;    
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    color: white;
    background-color: rgba(0,0,0,0.8);
}
  
.caption-text {
    color: #000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot{
    background-color: #515151;
}

@media screen and (max-width: 700px) and (min-width: 450px){
    main {   
      flex-direction: column;
    }
    .appimg{
        border-radius: 18px;
    }
    .about-card{
        margin-bottom: 5px;
    }
    .search-card{
        padding-left: 15px;
        width: 75%;
    }
    .shrink{
        word-wrap: break-word;
        width: 170px;
    }
    #sauron{
        content: url("../images/newmobile.png");
    }
    footer{
        margin: 20px;
    }
}

@media screen and (max-width: 450px) {
    main {   
      flex-direction: column;
    }
    .appimg{
        border-radius: 18px;
    }
    .about-card{
        margin-right: 0px;
        margin-bottom: 5px;
    }
    .postpicapp{
        height: 100px;
    }
    .search-card{
        padding-left: 15px;
        width: 75%;
    }
    .shrink{
        word-wrap: break-word;
        width: 170px;
    }
    #sauron{
        content: url("../images/newmobile.png");
    }
    footer{
        margin: 20px;
    }
}